/* body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url("/images/BlogTemplateImg.jpg");
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 250px;
    

    
    
    

    
  } */

body{
    justify-content: center;
    padding-left: 10px;
    padding-top: 180px;
    background-color: black;

}
  
a{
  text-decoration: none;
}
.blog-title{
  color: white;
  margin-left: 580px;
  font-size: 50px;
  margin-top: -20px;
}
.card {
    display: grid;
    grid-template-columns: 10px;
    grid-template-rows: 80px 80px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 38px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    
  
    transition: 0.5s ease;
    cursor: pointer;
    margin:10px;
    margin-left: 0px;
    margin-bottom: 90px;
  }
  .card-image {
    grid-area: image;
    background: url("img1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: #785F37;
    font-size:13px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
    color: black;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: #785F37;
    margin-top: 300px;
    

  }
  .card-stats .stat {
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  .card-stats .border {
    border-right: 1px solid #785F37;
  }
  .card-stats .value{
    font-size:22px;
    font-weight: 500;
  }
  .card-stats .value sup{
    font-size:12px;
  }
  .card-stats .type{
    font-size:11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  
  /*card2*/
  .card-image.card2 {
    background: url("img2.jpg");
    background-size: cover;
  }
  .card-text.card2 .date {
    color: #785F37;
  }
  .card-stats.card2 .border {
    border-right: 1px solid #785F37;
  }
  .card-stats.card2 {
    background:#785F37;
  }
  /*card3*/
  .card-image.card3 {
    background: url("img3.jpg");
    background-size: cover;
  }
  .card-text.card3 .date {
    color: #785F37;
  }
  .card-stats.card3 .border {
    border-right: 1px solid #785F37;
  }
  .card-stats.card3 {
    background: #785F37;
  }