

body{
    background-color: black;
}
#chart {
    background: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 90px;
    margin-left: 200px;
  
  }
  
  .title {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      margin-top: 6px;
      margin-bottom: 6px;
  }
  text {
    pointer-events:none;
  }
  
  .grandparent text {
    font-weight: bold;
  }
  
  rect {
    fill: none;
    stroke: #fff;

  }
  
  .children{
    cursor: pointer;

  }
  rect.parent,
  .grandparent rect {
    stroke-width: 2px;
    cursor: pointer;

  }
  
  rect.parent {
      pointer-events: none;
     


  }
  
  .grandparent rect {
    fill: orange;
  }

  
  .grandparent:hover rect {
    fill: #ee9700;
  }
  
  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }
  
  .children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
    cursor: pointer;

  }
  
  .children:hover rect.child {
    fill: #bbb;
  }

  .interactive-instruct{
    color: white;
    margin-left: 510px;
    margin-bottom: -30px;
  }

  .interactive-narrative{
    color: white;
     margin-left: 30px;
   


  }

  .interactive-title{
    color: white;
    margin-left: 410px;
    font-size: 30px;
    font-weight: 600;

  }
  
 