@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Oleo+Script+Swash+Caps&family=Playfair+Display&family=Roboto:ital,wght@1,300&display=swap');
*,*::before,*::after {
  box-sizing: border-box;
}
body{
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.6;
	color: #333;
}
html,body{
	scroll-behavior: smooth;
}
img{
	max-width: 100%;
}
h2{
	margin-bottom: 30px;
	font-family: 'Playfair Display', serif;

}
h1{
	font-family: 'Playfair Display', serif;

}
/*header*/
.header{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1000;
	padding: 20px 30px;
	background: #785F37;
	height: 15%;
}
.block-row{
	min-height: 100vh;
	display: flex;
	align-items: center;
	padding: 30px 10px;
	justify-content: center;
	background-position: center center;
	/*background-size: cover;*/
}

.nav-sections{
	position: relative;
	display: flex;
	float: right;
	margin-top: 5px;
	margin-bottom: 0;
	list-style: none;
	margin-right: 40px;


}

.nav-sections li{
	position: relative;
	display: inline-block;
	padding-top: 10px;
	word-spacing: 30px;
	padding-right: 40px;
	margin-top: -90px;
	font-size: 25px;


	
	
}

.text-right ul li a{
	text-decoration: none;
	color: white;
	display: flex;
	font-size: 30px;
	margin-top: -15px;
	font-weight: 500;;


}
.nav_icon{
	color: white;
	font-size: 35px;
	line-height: 1;
	display:block;

}
.nav_icon i{
	top: 0;
	margin-top: -115px;
	margin-right: -750px;
}

#check:checked  ~ ul {
	left:0;
 
  }

  .burger-button{
	font-size: 50px;
	float: right;
	cursor: pointer;
	display:none;
	color: white;
	margin-top: -115px;

  }
 
   #check{
	display: none;
  }


.main-menu{
	position: fixed;
	right: 0;
	top:-10px;
	padding-top: 82px;
	z-index: 10;
	overflow: hidden;
	height: 0;
	width: 250px;
	transition: all 0.3s ease-in-out;
	
}
.main-menu.active{
	height: 100vh;
}
.main-menu ul{
	margin:0;
	padding: 0;
	list-style: none;
	position: relative;
	z-index: 1;
}
.main-menu ul li a{
	display: block;
	text-decoration: none;
	padding: 10px;
	font-size: 25px;
	border-bottom: 1px solid rgba(7,75,75,0.8);
	color: #000;
	background: #fff;
}
.main-menu ul li a:hover{
	background: rgba(7,75,75,0.8);
	color: #fff;
}
.menu-bg{
	background: #fff;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top:0;
	left: 50%;
	margin-left: -5px;
	transition: all 0.3s ease-in-out;
}
.main-menu.active .menu_bg{
	transform: scale(120);
}
.logo{
	color: white;
	text-decoration: none;
	font-size: 30px;
	font-weight: 700;
	
}
.logo h1{
	margin-top: 10px;

}



/*banner*/
.banner{
	text-align: center;
  color: #fff;
  font-size: 60px;

}
.banner h1{
	font-size: 120px;
  text-transform: uppercase;
  font-weight: 700;
}
/*about*/
.about-box{
	background:rgba(255, 255, 255, 0);
	border-radius: 20px;
	padding: 50px;
	width: 30%;
	margin-right: 600px;
	margin-top: -20px;
	margin-bottom: 200px;
	position: relative;
	
	
}

.about-box h2{
	display: inline;
	color: white;
	font-weight: 700;
	font-size: 60px;
	white-space: nowrap;
}

.about-box p{
	color: wheat;

}


/*services*/

.service h2{
	padding-bottom: 00px;
}
.services{
	background-blend-mode: darken;
}

.service-container{
	position: relative;
	width: 60px;
	height: 800px;
	margin-right: 1000px;

}

.cards-container{
	position: relative;
	width: 1000px;
}
.cards{
	position: absolute;
	/* position: absolute; */
	display: grid;
	top:0 ;
	left: 0;
	grid-template-columns: repeat(3, 300px);
	grid-gap: 50px;
	pointer-events: none;
	padding-top: 10px;
}

.card{
	
	overflow: hidden;

}
.service-title {
	color: #fff;
	padding-bottom: 100px;
	text-align: center;
	margin-left: 0px;
	font-size: 60px;
}

.picture-content{
	color: wheat;
	padding: 20px ;
}


.service_box{
	min-height: calc(100% - 40px);
	margin-bottom: 40px;
	padding: 20px;
	background:#fff;
	border-radius: 10px;
}
.service_box figure{
	width: 40%;
	float: left;
	margin:0 20px 0 0;
}
.service_box figure img{
	border-radius: 5px;
}
.service_box .description{
	overflow: hidden;
	color: #000;
}
.service_box .description p{
	margin-bottom: 0;
}

/***** SERVICE CHECK***********/

/* PRODUCTS */
.product {
	position: relative;
	overflow: hidden;
	padding: 20px;
  }

  .service-instruction{
	color: white;
	margin-left: 500px;
	margin-top: -60px;
	padding-bottom: 30px;
	font-size: 20px;
  }
  
  .product-category {
	padding: 0 0vw;
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 40px;
	text-transform: capitalize;
  }
  
  .product-container {
	padding: 0 10vw;
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
	margin-left: -60px;
  }
  
  .product-container::-webkit-scrollbar {
	display: none;
  }
  
  .product-card {
	flex: 0 0 auto;
	width: 250px;
	height: 450px;
	margin-right: 40px;
  }
  
  .product-image {
	position: relative;
	width: 100%;
	height: 350px;
	overflow: hidden;
  }
  
  .product-thumb {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .discount-tag {
	position: absolute;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
	color: #ff7d7d;
	right: 10px;
	top: 10px;
	text-transform: capitalize;
  }
  
  .card-btn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 90%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
  }
  
  .product-card:hover .card-btn {
	opacity: 1;
  }
  
  .card-btn:hover {
	background: #ff7d7d;
	color: #fff;
  }
  
  .product-info {
	width: 100%;
	height: 100px;
	padding-top: 10px;
	color: white;
  }
  
  .product-brand {
	text-transform: uppercase;
	color: white;
  }
  
  .product-short-description {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 2;
	text-transform: capitalize;
	margin: 5px 0;
	color: white;
  }
  
  .price {
	font-weight: 900;
	font-size: 20px;
  }
  
  .actual-price {
	margin-left: 20px;
	opacity: 0.5;
	text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
	border: none;
	width: 10vw;
	height: 100%;
	size: 20px;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, rgba(246, 246, 246, 0) 0%, rgba(255, 255, 255, 0) 100%);
	cursor: pointer;
	z-index: 8;
  }
  
  .pre-btn {
	left: 0;
	transform: rotate(180deg);
	size: 15px;

  }
  
  .nxt-btn {
	right: 0;
	size: 15px;

  }
  
  .pre-btn img,
  .nxt-btn img {
	opacity: 0.5;

  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
	opacity: 2;
  }
  
  .collection-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
  }
  
  .collection {
	position: relative;
  }
  
  .collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .collection p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	font-size: 50px;
	text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
	grid-column: span 2;
	margin-bottom: 10px;
  }
  

/*contact*/
.contact h2{
	font-size: 40px;
	margin-left: 180px;
}
.container-box{
	max-width: 1000px;
	width: 600px;
	height: 500px;
	margin: 0 auto;
	padding: 40px;
	background:rgb(74, 72, 72);
	border-radius: 15px;
}
.container-box input:not([type="submit"]),
.container-box textarea{
	width: 100%;
	height: 40px;
	resize: none;
	margin-bottom: 15px;
	padding:5px 15px;
	border-radius: 5px;
	border:1px solid black;
}
.container-box textarea{
	height: 100px;
}
.container-box input[type="submit"]{
	width: 150px;
	background: rgb(121, 92, 38);
	border:0;
	color: #fff;
	height: 40px;
	text-align: center;
	border-radius: 5px;
	margin-left: 180px;
}

/*footer*/
.footer{
	padding: 15px 0;
	text-align: center;
	color: #fff;
	background:#785F37;
}
.contact_heading{
	color: white;
	font-size: 60px;
	font-weight: 600px;
}

/* Design Section*/
/* WireFrame Section*/
.hp_wireframe_container h1{
color: white;
margin-top: -150px;
font-weight: 700;
font-size: 50px;
text-align: center;
padding-top: 200px;

}

.hp_wireframe_container h2{
	color: white;
	text-align: center;

}

.wireframes{
	position: absolute;
	/* position: absolute; */
	display: grid;
	top:0 ;
	left: 0;
	grid-template-columns: repeat(3, 900px);
	grid-gap: 50px;
	pointer-events: none;
	padding-top: 300px;

}
.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
/*Style guide section*/

.styleguide-heading {
	color: white;
	margin-top: -270px;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	padding-top: 250px;

}
.styleguide-box{
	color: white;
}

.style-pic img{
	width:300px;
	height: 200px;
	float: left;
}
.style-pic{
	margin-left: 10px;

}
.font-text{
	color: white;
	float: right;
	margin: 30px 30px;

	
}
.font-intro p{
	color: white;
	padding: 30px 30px;
	margin-right: 300px;
	margin-left: 300px;
	
}

.back-image img {
	width: 300px;
	height: 200px;
	float: left;
}

.back-image{
	margin-top: 40px;
	margin-left: 10px;

}
.jewl-image img{
	width: 300px;
	height: 250px;
	float: left;
	margin-top: -10px;

	
}
.jewl-image{
	margin-left: 10px;


}

.data-heading{
	color: white;
	margin-top: -170px;
	font-weight: 700;
	font-size: 60px;
	text-align: center;
	padding-top: 250px;
}

.data-map{
	color: white;
	margin-right: 100px;
	margin-left: 10px;
}

.data-img{
width:600px;
height: 400px;
margin-left: 300px;
}

.data-caption{
	color: white;
	margin-left: 500px;
}

.data-explain {
	color: white;
	margin-right: 80px;
	margin-left: 10px;
	padding-left: 0px;
	padding-right: 90px;
}

.title-explain
{
	color: white;
	margin-left: 580px;
	font-weight: 600px;
	font-size: 30px;
}




/********* Blog section ********/

.blog-container h1{
color: white;
font-weight: 700;
font-size: 60px;
padding-top: 40px;
text-align: center;
}
.blog-container h2{
	color: white;
	font-weight: 500;
	font-size: 40px;
	padding-top: 40px;
	text-align: center;

}
.blog-post{
	padding: 10px 100px;
}

.blog1_text{
	color: white;
	font-size: 20px;
	margin-right: 100px;
	margin-left: 100px;
}

.blog-post img{
	padding-left: 80px;
}

.blog-post li{
	color: white;
}

.blog-card{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 90px;
	display: grid;
	grid-template-columns: 300px;
	grid-template-rows: 210px 210px 80px;
	grid-template-areas: "image" "text" "stats";

	border-radius: 18px ;
	background-color: white;
	box-shadow: 5px 5px 5px black ;
	text-align: center;
}

.card-image{
	grid-template-areas: image;
	background: url("/images/DataVisualzation.png");

}

.card_text{
	grid-template-areas: text;
}
.card-stats{
	grid-template-areas: stats;
}


